<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Training/Batch2_Oct_2022/12032003/October2022Batch">
        <classes>
            <class name="com.ita.tests.JobSeekersPageTest">
                <methods>
                    <include name="verifyJObSeekers"/>
                </methods>
            </class>
            <class name="com.ita.tests.JobsAndApplicationsPageTest">
                <methods>
                    <include name="VerifyJObsAndApplicationsPage"/>
                </methods>
            </class>
            <class name="com.ita.tests.RecruitersPageTest">
                <methods>
                    <include name="VerifyJObsAndApplicationsPage"/>
                    <include name="VerifyRecruitersLogin_Invalid_Username_InValid_password"/>
                    <include name="VerifyRecruitersLogin_Valid_Username_InValid_password"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>