<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Training/Batch2_Oct_2022/12032003/October2022Batch">
        <classes>
            <class name="com.InteractiveTrainingAcademy.ITAAboutUS">
                <methods>
                    <include name="verify_ABOUT_US"/>
                    <include name="verify_OUR_APPROACH"/>
                </methods>
            </class>
            <class name="com.InteractiveTrainingAcademy.ITAConsultingPage">
                <methods>
                    <include name="verify_Consulting_page"/>
                </methods>
            </class>

            <class name="com.InteractiveTrainingAcademy.ITAHomePage">
                <methods>
                    <include name="verify_Quality_Training_and_Consultation_Text"/>
                    <include name="verify_Contact_us_page"/>
                    <include name="newTest"/>
                </methods>
            </class>

            <class name="com.InteractiveTrainingAcademy.ITATrainingPage">
                <methods>
                    <include name="verify_Manual_and_automation_page"/>
                    <include name="simulate_ElementNotInteractableException"/>
                    <include name="verify_Python_Page"/>
                    <include name="verify_Devops_page"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>